html {
    scroll-behavior: smooth;
}

main{
    padding-bottom: 5em;
    display: grid;
    gap: 2em;
}

h2{
    font-family: "Generisch Sans";
    text-transform: uppercase;
    margin: 3px;
}

#imgbeer {
    padding: 2rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#imgbeer #biere{
    height: 70vh;
}

#imgbeer #chevron{
    width: 24px;
}

#infos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

#descr img{
    width: 150px;
    position: relative;
    left: calc(600px - 150px - 2em);
    margin-bottom: 5px;
}

#descr{
    background-color: #FCF6DE;
    max-width: 600px;
    width: 90vw;
    font-family: "Clear Sans";
    padding: 1em;
}

#nb{
    text-align: right;
}

#descr li{
    list-style-type: none;
}

#panier{
    background-color: #FCF6DE;
    max-width: 400px;
    width: 80vw;
    padding: 2em;
    text-align: center;
    height: fit-content;
    /*display: flex;
    flex-direction: column;
    justify-self: flex-end;*/
}

form div{
    background-color: rgb(233, 233, 233);
    border: white 2px solid;
    border-radius: 10px;
    width: fit-content;
    padding:5px;
    margin: auto;
    margin-bottom: 10px;
}

button{
    background-color: #F1C451;
    font-family: "Clear Sans";
    border:none;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 5px;
}

#quantity{
    background-color: rgb(233, 233, 233);
    border:none;
    text-align: center;
}

.quant{
    width: 25px;
}

#submit{
    background-color: rgb(233, 233, 233);
}

#submit:hover{
    background-color: rgb(207, 207, 207);
    transition-duration: 0.5s;
}

button:hover{
    background-color: #dfb447;
    transition-duration: 0.5s;
}

@media screen and (max-width:700px) {
    #infos{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap:2em;
    }
    #descr img {
        left: calc(90vw - 150px - 2em);
    }
}