@font-face {
    font-family: Generisch;
    src: url(../fonts/GenerischSans-SemiBold.ttf);
}

@font-face {
    font-family: BradleyHand;
    src: url(../fonts/bradley.ttf);
}

* {
    font-family: Generisch;
}
.formulaire {
    background-color: #DEBE78;
    margin: 2% auto 10% auto;
    width: 40vw;
    padding: 1%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 4fr 0.5fr  ;
    justify-items: center;
}


.timbre {
    grid-column: 3;
    justify-items: right;
    margin: 2%;
    width: 100%;
}

.envoyer {
    grid-row: 3;
    grid-column: 3;
    margin: auto;
}

.envoyer button:hover {
    background-color: #FFFCE5;
    transition-duration: 0.5s;
}

.envoyer button {
    background-color: #DEBE78;
    font-family: BradleyHand;
    border: none;
    font-size: larger;
    padding: 5px;
    border-radius: 5px;
    margin-top: 2vh;
}

.lettre {
    grid-row: 2/3;
    grid-column: 1/4;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    text-decoration: none;
    width: 90%;
    row-gap: 1vh;
    align-items: center;
}

.lettre div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-textarea {
    background-color: #DEBE78;
    border-bottom: dashed;
    border-top: 0;
    border-right:0 ;
    border-left: 0;
    width: 90%;
}

textarea {
    resize: none;
}
.titre {
    margin-top: 2%;
    text-align: center;
    
}

.visite {
    background-color: #FFFCE5;
    box-shadow: 5px 5px 5px rgb(115, 104, 104);
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5% 30% 10% 30%;
    justify-items: center;
    align-items: center;
}

#info {
    grid-column-start: 2;
}

#tampon {
    margin: auto;
    text-align: center;
}
#tampon img{
    margin: 10%;
    width: 60%;
    
}

@media screen and (max-width: 700px) {
    .formulaire {
        width: 80vw;
    }
    .visite {
        width : 80vw;
        margin: auto;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    .titre {
        font-size: small;
    }
}