* {
    box-sizing: border-box;
}

#svg{
    height: 50px;
    width: 50px;
}

h1{
    font-family: "Generisch Sans";
}

h2{
    font-size: small;
    margin-bottom: 5px;
}

main p{
    font-family: "Clear Sans";
    padding: 1em;
}

main img {
    width: 100%;
}



main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.goodie{
    display: flex;
    flex-basis: 22.5%;
    margin: 3%;
    border: 2px solid black;
    background-color: white;
    text-align: center;
    margin-bottom: 10px;
    padding: 1vw;
    box-shadow: 2px 2px 2px 0px gray;
    vertical-align: top;
    flex-direction: column;
    justify-content: space-around;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bouton{
    display: flex;
    gap: 0.5rem;

    width: 14vw;
    padding: 3vh 0;
    border-radius: 5px;

    background-color: black;
    color:white;
    text-transform: uppercase;

    align-items: end;
    justify-content: center;
}

svg {
    height: 1rem;
    width: 1rem;
}

#button-container{
    display: flex;
    justify-content: space-between;
    background-color: rgb(233, 233, 233);
    border: white 2px solid;
    border-radius: 10px;
    width: 16vw;
    padding:5px;
    margin: auto;
    margin-bottom: 10px;
}

h3{
    font-size:small;
}

#quantity{
      background-color: rgb(233, 233, 233);
      border:none;
      text-align: center;
      width: 10vw;
}

button:not(.bouton){
    background-color: #F1C451;
    font-family: "Clear Sans";
    border:none;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    width: 30px;
    height: 30px;
}

button:hover{
       background-color: #dfb447;
       transition-duration: 0.5s;
}

@media screen and (max-width: 700px) {
    main {
        flex-direction: column;
        align-items: center;
    }
    #button-container, .bouton {
        width: 80vw;
    }

}