main {
    min-height: 68vh;
}

h2,h3,h4,p,li {
    font-family: Generisch Sans, sans-serif;
}

h2 {
    text-align: center;
    margin: 5vh 0;
}

#article {
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: auto;
}

.biere, .goodie {
    min-height: 5.5vw;
    display: grid;
    column-gap: 0.5rem  ;
    grid-template-columns: 4vw repeat(3, 2fr) 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
}

img.articleTitle{
    justify-self: center;
}
h4.articleTitle{
    justify-self: start;
}


#article img {
    max-width: 4vw;
    max-height: 5vw;
}

.labels, #total {
    display: grid;
    column-gap: 0.5rem  ;
    grid-template-columns: 4vw repeat(3, 2fr) 1fr;
    align-items: center;
    justify-items: center;
    list-style-type: none;
}

.labels li:first-child {
    grid-column: 2/3;
    justify-self: start;
}

#total h3 {
    grid-column: 4;
}

button{
    background-color: #ad0101;
    font-family: "Clear Sans";
    color: #FFF;
    border-radius: 5px;
    border: none;

    width: 24px;
    height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.labels, .biere, .goodie {
    padding-bottom: 0.5rem;
    border-bottom: black solid 1px;
}

@media screen and (max-width: 700px) {
    #total h3 {
        grid-column: 4/6;
    }
}